<div class="{{ name }}">
	<div element="image">
		<img src="{{ data.image }}" alt="{{ data.image.alt }}" />
		<h2>{{  data.title }}</h2>
		<div>{{ data.text }}</div>
		<a href="{{ data.link }}"></a>
	</div>
</div>